body{
    width: 100%;
    height: 100%;   
    position: absolute;   
}



#main{
    width: 1280px;
    height: 1080px;
    border: 6px solid lightblue;
}


#bgimage{    
    width: 600px;
    height: 800px;
    background-image: url(g237.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 4px solid red; */
    margin-top: 1%;
    margin-left: 17%;
    position: relative;
}

#menu{
    width: 300px;
    height: 250px;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 5%;
    font-family: pristina;
    /* border: 4px solid blue; */
    position: absolute;
}